<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckPlusMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBDE5F431D3036AD002FF6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDE5F541D3036AD002FF6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBDE5F5F1D3036AD002FF6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
